@inherits LayoutComponentBase
@*<style>
    .main > footer {
        height: 3rem;
        max-height: 3rem;
    }

    .main > .content {
        height: calc(100vh - 6.5rem);
        max-height: calc(100vh - 6.5rem);
        overflow-y: auto;
    }
    @@media (min-width: 641px) {

        .sidebar {
            max-height: 100vh;
            overflow-y: auto;
        }
    }
</style>*@
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            @Body
        </div>
        @*<footer class="footer border-top text-muted">
            <div class="container">
                &copy; 2022 - LMS.Server - <a asp-area="" asp-page="Privacy">Privacy</a>
            </div>
        </footer>*@
    </div>
    
</div>
