@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="top-row text-center navbar navbar-dark" style="height:4.3rem">
    @*<a class="navbar-brand" href="">LMS Portal</a>*@
    <img src="/images/logo_gob.png" class="rounded-circle" width="65" style="background-color:white;padding:2px" />
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>*@
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Grades/View">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grades
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                @*<a href="authentication/profile">Hello, @context.User.Identity.Name!</a>*@                                
                <li class="nav-item px-3" style="cursor:pointer">
                    <NavLink class="nav-link" @onclick="BeginSignOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>                   
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register">
                        <span class="oi oi-lock-unlocked" aria-hidden="true"></span> Enroll
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                </li>                
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
