@page "/"

<style>
    .heading-container {
        padding: 10px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 350px;
        text-align: center;
        background-position: 50% 50%;
        background-color: #53a865;
    }

    @@media (max-width: 768px) {
        .heading-container {
            margin: 0 -15px;
        }

        .templates-block {
            padding: 0 20px;
        }
    }

    @@media (min-width: 576px) and (max-width: 1281px) {
        .heading-container {
            background-size: 900px 350px;
            background-image: url('/images/free-html-templates-1200.jpg');
        }
    }

    @@media (min-width: 1281px) and (max-width: 1700px) {
        .heading-container {
            background-size: 1300px 350px;
            background-image: url('/images/free-html-templates-1600.jpg');
        }
    }

    @@media (min-width: 1700px) {
        .heading-container {
            background-size: 1620px 350px;
            background-image: url('/images/free-html-templates-1920.jpg');
        }
    }
</style>
<div class="text-left">    
    <div class="text-center" style="font-family: 'Helvetica Neue', sans-serif; font-size: 23px; letter-spacing: 1px; line-height: 1.5; text-align: center;">Learning Management System</div>
    <div class="text-right" style="font-family: 'Helvetica Neue', sans-serif;color:firebrick;font-size:11px;margin:0; letter-spacing: 1px;">Home</div>
</div>
<hr style="height: 2px; background-color: #09db94;margin-top:0" />
<div class="row">
    <div class="col-md-12">
        <div class="heading-container">
            <div class="heading-block ">
                <div style="margin-bottom:15px">
                    <img src="/images/logo_gob.png" width="70" />
                </div>
                <h5 style="color:antiquewhite;letter-spacing: 1px">Now Education at Your Doorstep!</h5>
                <div class="heading-description">
                    <p style="letter-spacing: 1px">Initiative of Government of Balochistan</p>
                    <p style="font-size:12px;color:azure; letter-spacing: 1px">Parha Likha Balochistan</p>
                </div>
            </div>
        </div>
    </div>
</div>

